Editorial.aux
Editorial.bbl
Editorial.blg
Editorial.dvi
Editorial.log
Editorial.out
Editorial.pdf
Editorial.synctex.gz
example_fig.eps
example_fig.jpg
jib_template.aux
jib_template.dvi
jib_template.log
jib_template.out
jib_template.pdf
jib_template.synctex.gz
SBGN-PD-front.aux
SBGN-PD-front.dvi
SBGN-PD-front.log
SBGN-PD-front.out
SBGN-PD-front.pdf
SBGN-PD-front.synctex.gz
Editorial.tex.old
Editorial.tex.tex
